:root {
    --background-color: #f5f5f5;
    --border: 2px solid #4f4b4f;
}

#title {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

#gameName {
    font-family: "Bernard MT Condensed", serif;
    width: 1040px;
    font-size: 90px;
    letter-spacing: 4px;
}

#instruction {
    font-family: Georgia, serif;
    width: 1040px;
    font-size: 24px;
}

h1 {
    color: #1a1915;
    margin: 10px;
}

#heading-container {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 10px;
}

#timer-heading {
    width: 200px;
    height: 45px;
    font-size: 35px;
    text-align: center;
    padding-left: 5px;
    padding-right: 30px;
    margin-top: 10px;
}

#letter-heading {
    width: 260px;
    height: 45px;
    font-size: 35px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;

}

#score-heading {
    width: 200px;
    height: 45px;
    font-size: 35px;
    text-align: center;
    padding-left: 30px;
    padding-right: 120px;
    margin-top: 10px;
}

h2 {
    color: #1a1915;
    display: inline;
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-style: italic;
}

#box-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

#timer {
    width: 200px;
    height: 120px;
    font-size: 100px;
    text-align: center;
    padding-left: 5px;
    padding-right: 30px;
}

#letter {
    width: 260px;
    height: 120px;
    font-size: 100px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#score {
    width: 200px;
    height: 120px;
    font-size: 100px;
    text-align: center;
    padding-left: 30px;
    padding-right: 120px;
}

p {
    margin: 0;
    border: var(--border);
    border-radius: 30px;
    color: #1a1915;
    background-color: var(--background-color);
}

#resetButton {
    display: flex;
    flex: 1;
    justify-content: center;
}

button {
    height: 60px;
    width: 180px;
    margin-right: 110px;
    font-size: 24px;
    font-family: Georgia, serif;
    border-radius: 10px;
    border: var(--border);
    background-color: var(--background-color);
    color: #000000;
    margin-top: 40px;
}

#scoreDisplay {
    transition: all .10s ease;
}

.green {
    background-color: #00a600;
}

.red {
    background-color: #f62e1a;
}

#yourScore {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-right: 100px;
}

#finalScore {
    width: 400px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 0 solid red;
    background-color: white;
}

#submitScore {
    width: 400px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 0 solid red;
    background-color: white;
}

#highScores {
    position: relative;
    left: 50%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: -300px;
    width: 500px;
}

h3 {
    margin: 0;
}

#highScoreTitle {
    width: 401px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 1px solid black;
    border-bottom-style: hidden;
    font-family: Georgia, serif;
    background-color: var(--background-color);

}

#databaseResults {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

}

h4 {
    display: inline;
    margin: 0;
    text-align: center;
    background-color: rgb(187, 187, 187);

}

#thisWeekHighScores {
    width: 200px;
    border: 1px solid black;
    border-right-style: hidden;
    height: 27px;
    font-size: 22px;
    font-family: Georgia, serif;
}

#allHighScores {
    width: 200px;
    border: 1px solid black;
    height: 27px;
    font-size: 22px;
    font-family: Georgia, serif;
}

table {
    width: 403px;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    border-spacing: 0;
    background-color: var(--background-color);
}

tr {
    margin: 0;
    width: 405px;
}

.invisible {
    visibility: hidden;
}

.dbResult {
    border: 1px solid black;
    border-top-style: hidden;
    border-right-style: hidden;
    width: 62px;
    text-align: left;
    text-indent: 12px;

}

.dbResultRight {
    border: 1px hidden black;
    border-bottom-style: solid;
    width: 61px;
    text-align: left;
    text-indent: 12px;
}

.dbResult10 {
    text-indent: 4px;
}

.dbName {
    border: 1px solid black;
    border-top-style: hidden;
    width: 140px;
    text-align: center;
    padding: 0;
}