:root {
    --background-color: #f5f5f5;
    --border: 2px solid #a5a5a5;
;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-item:nth-child(1) {
    width: 50%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 0;
    padding: 0;
}

.flex-item:nth-child(2) {
    width: 50%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

#gameName {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    letter-spacing: 4px;
    align-items: center;
    text-align: center;
    padding: 10px 0 20px 0;
}

#instruction {
    font-family: Arial, serif;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 200;
}

h1 {
    color: #1a1915;
    margin: 10px;
}

#heading-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.heading-item:nth-child(1) {
    width: 15%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 35px;
    text-align: center;
}

.heading-item:nth-child(2) {
    width: 15%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 35px;
    text-align: center;
}

.heading-item:nth-child(3) {
    width: 15%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 35px;
    text-align: center;
}

h2 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
}

#box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box-item:nth-child(1) {
    width: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 100px;
    text-align: center;
    margin-right: 5%;
}

.box-item:nth-child(2) {
    width: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 100px;
    text-align: center;
}

.box-item:nth-child(3) {
    width: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 100px;
    text-align: center;
    margin-left: 5%;
}

.box-styling {
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    margin: 0;
    border: var(--border);
    border-radius: 30px;
    background-color: var(--background-color);
}

#scoreDisplay {
    transition: all .10s ease;
}

.green {
    background-color: #00a600;
}

.red {
    background-color: #f62e1a;
}

#bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.bottom-item:nth-child(1) {
    width: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-right: 3%;
    margin-top: 2%;
}

.bottom-item:nth-child(2) {
    width: 14%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-top: 2%;
}

.bottom-item:nth-child(3) {
    width: 10%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    border: var(--border);
    background-color: var(--background-color);
    margin-left: 3%;
    margin-top: 2%;
}

#highScores {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h3 {
    margin: 0;
}

#highScoreTitle {
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding-bottom: 10px;
}

table {
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.dbResult {
    text-align: center;
    width: 35%;
}

.dbName {
    text-align: center;
    width: 65%;
}

#finalScore {
    margin: 0;
    padding:0;
    width:100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size:1.5rem;
}

#submitScore {
    margin: 10px 0 10px 0;
    padding:0;
    width:100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
}

.invisible {
    visibility: hidden;
}